# Configuration file

oblocks {
    # The strength of the block[s] as a beam supporting blocks above.
    D:BeamStrength=0.0

    # A list of block IDs to be affected by this definition.
    S:Blocks <
        minecraft:torch
        minecraft:vine
        minecraft:web
        minecraft:cocoa
        minecraft:redstone_torch
        quark:stone_speleothem
        quark:granite_speleothem
        quark:diorite_speleothem
        quark:andesite_speleothem
        quark:basalt_speleothem
        quark:marble_speleothem
        quark:limestone_speleothem
        quark:jasper_speleothem
        quark:slate_speleothem
        quark:netherrack_speleothem
        quark:roots
        quark:roots_blue_flower
        quark:roots_black_flower
        quark:roots_white_flower
        realistictorches:torch_lit
        realistictorches:torch_unlit
        iceandfire:dread_torch
        iceandfire:burnt_torch
        iceandfire:myrmex_desert_biolight
        iceandfire:myrmex_jungle_biolight
        betternether:wart_seed
        betternether:eye_seed
        immersiveengineering:metal_decoration1
        immersiveengineering:metal_decoration1:1
        immersiveengineering:metal_decoration2:0
        immersiveengineering:metal_decoration2:2
        immersiveengineering:wooden_device1:3
        immersiveengineering:wooden_device1
        immersiveengineering:wooden_device1:0
        immersiveengineering:metal_device1:10
        immersiveengineering:metal_device1:11
        immersiveengineering:turretgun
        immersiveengineering:turretchem
        eplus:decorative_book
        eplus:decorative_book:1
        eplus:decorative_book:2
        eplus:decorative_book:3
        eplus:decorative_book:4
        eplus:decorative_book:5
        eplus:decorative_book:6
        twilightforest:trophy
        twilightforest:trophy:1
        twilightforest:trophy:2
        twilightforest:trophy:3
        twilightforest:trophy:4
        twilightforest:trophy:5
        twilightforest:trophy:6
        twilightforest:trophy:7
        twilightforest:trophy:8
        twilightforest:trophy:9
        twilightforest:trophy:10
     >

    # The chance of the block[s] breaking after falling and landing.
    D:BreakChanceOnLanded=0.2

    # Whether the block[s] should break instead of falling.
    B:BreakOnFalling=false

    # The minimum velocity, in meters per tick, the block[s] must land at before they have a chance of breaking.
    D:BreakVelocityMinOnLanded=0.5

    # The damage the block[s] will cause to entities after falling and landing on them.
    D:EntityDamage=2.0

    # Whether the block[s] should have a fake full-block collision box.
    B:FakeFullBlock=false

    # Whether the block[s] should be allowed to float on water.
    B:FloatsOnWater=false

    # Whether the block[s] should be allowed to horizontally attach to other blocks.
    B:IsAttachable=true

    # Whether the block[s] should be allowed to vertically attach to other blocks.
    B:IsHangable=true

    # The mass of the block[s], in kilograms.
    I:Mass=1600

    # Whether the block[s] will receive chunk updates.
    B:ReceivesChunkUpdates=true

    # Whether the block[s] will receive neighbouring block updates.
    B:ReceivesNeighbourUpdates=true

    # The chance of the block[s] sliding after falling and landing.
    D:SlideChanceOnLanded=0.6

    # The chance of the block[s] sliding after being placed.
    D:SlideChanceOnPlaced=0.0

    # The maximum mass the block[s] can support horizontally and vertically.
    I:SupportMass=8500
}


overworldrbp {
    S:Blocks <
     >
    D:BreakChanceOnLanded=0.2
    B:BreakOnFalling=false
    D:BreakVelocityMinOnLanded=0.5
    D:EntityDamage=2.0
    B:FakeFullBlock=false
    B:FloatsOnWater=false
    B:IsAttachable=true
    B:IsHangable=true
    I:Mass=700
    B:ReceivesChunkUpdates=true
    B:ReceivesNeighbourUpdates=true
    D:SlideChanceOnLanded=0.6
    D:SlideChanceOnPlaced=0.0
    I:SupportMass=3500
}


stone {
    S:Blocks <
        quark:stone_speleothem
        quark:granite_speleothem
        quark:diorite_speleothem
        quark:andesite_speleothem
        quark:basalt_speleothem
        quark:marble_speleothem
        quark:limestone_speleothem
        quark:jasper_speleothem
        quark:slate_speleothem
        quark:roots
        quark:roots_blue_flower
        quark:roots_black_flower
        quark:roots_white_flower
        minecraft:vine
        minecraft:torch
        minecraft:redstone_torch
        realistictorches:torch_lit
        realistictorches:torch_unlit
     >
    D:BreakChanceOnLanded=0.2
    B:BreakOnFalling=false
    D:BreakVelocityMinOnLanded=0.5
    D:EntityDamage=2.0
    B:FakeFullBlock=false
    B:FloatsOnWater=false
    B:IsAttachable=true
    B:IsHangable=true
    I:Mass=700
    B:ReceivesChunkUpdates=true
    B:ReceivesNeighbourUpdates=true
    D:SlideChanceOnLanded=0.6
    D:SlideChanceOnPlaced=0.0
    I:SupportMass=3500
}


